<p>Bem-vindo, <%= @resource.name %>!</p>

<% account_user = @resource&.account_users&.first %>
<% if account_user&.inviter.present? && @resource.unconfirmed_email.blank? %>
  <p><%= account_user.inviter.name %>, com <%= account_user.account.name %>, convidou você para participar da plataforma <%= global_config['BRAND_NAME'] || 'Teresa 360' %>! </p>
<% end %>

<p>Você pode confirmar seu acesso através do link abaixo:</p>

<% if account_user&.inviter.present? && @resource.unconfirmed_email.blank?  %>
  <p><%= link_to 'Confirmar minha conta', frontend_url('auth/password/edit', reset_password_token: @resource.send(:set_reset_password_token)) %></p>
<% else %>
  <p><%= link_to 'Confirmar minha conta', frontend_url('auth/confirmation', confirmation_token: @token) %></p>
<% end %>
